* {
    padding: 0;
    margin: 0;
}
#textAreaSection {
    padding: 10px;
}
.codeContainer textarea {
    width: 100%;
    padding: 0 10px;
    white-space: pre;
    font-family: monospace;
    height: 90vh;
    resize: none;
}