* {
    padding: 0;
    margin: 0;
}
#textAreaSection {
    padding: 10px;
    height: 90vh;
}
.codeContainer textarea {
    width: 100%;
    padding: 0 10px;
    white-space: pre;
    font-family: monospace;
    resize: none;
    height: 90%;
}
button {
    border-radius: 100px !important;
    box-shadow: 0 3px 4px 0px rgba(0,0,0,0.5);
}
button:active {
    box-shadow: none;
    transition: all 0.3s;
}
button:focus {
    outline: none !important;
}
.actionBtn {
    width: 75%;
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%);
    color: #FFF;
    margin-bottom: 1rem;
    border: none;
    padding: 5px 0;
    transition: all 0.3s;
    background-size: 200% auto;
}
.actionBtn:hover { 
    background-position: right center;
}
footer {
    background-color: #39627d;
    color: #fff;
}
footer .footer-copyright {
    background-color: #314755;
}
footer a {
    color: #fff;
}
footer ul {
    text-align: right;
}